.Article {
    padding: 8px;
}

.Article article {
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    padding: 16px;
}

.Article strong>span {
    cursor: pointer;
    color: #3F51B5;
}

.markdown-body {
  font-family: Georgia, 'Times New Roman', Times, serif
}
